# ======================
# Java / Spring Boot
# ======================
*.class
target/
**/target/

# Logs
*.log

# ======================
# IntelliJ
# ======================
.idea/
*.iml
out/

# ======================
# VSCode
# ======================
.vscode/
.history/

# ======================
# Node (nếu có frontend build sau này)
# ======================
node_modules/
.env*

# ======================
# OS files
# ======================
.DS_Store
Thumbs.db

# ======================
# Temporary files
# ======================
temp/
tmp/
uploads/
# ======================
# Database
# ======================
# Chỉ ignore nếu là data tạm
# database/